#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Basic Responsive Styles */
#section2 {
  padding: 2rem;
}

h3 {
  font-size: 1.25rem;
  color: #9b9b9b;
}

h1 {
  font-size: 10vw;
  line-height: 8rem;
  font-family: 'anzo1', sans-serif;
  margin-bottom: 2rem; /* Default margin between h1s */
}

/* Large screen */
@media (min-width: 1200px) {
  h1 {
    font-size: 8vw;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
}

/* Medium screen */
@media (max-width: 1200px) and (min-width: 768px) {
  h1 {
    font-size: 10vw;
    line-height: 2rem;
    margin-bottom: 10px; /* Adjusting margin */
  }
}

/* Small screen */
@media (max-width: 768px) {
  h1 {
    font-size: 14vw;
    line-height: 0.1rem;
    margin-bottom: 10px; /* Reduced gap on small screens */
  }

  .responsive-images svg {
    width: 100%;
    height: auto;
    transform: scale(0.8);
  }
}

.responsive-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
